<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2 link-dark" href="#">
      <!-- <img src="" height="50" alt="e-Stock Market" loading="lazy" style="margin-top: -1px;" /> -->
      e-Stock Market
    </a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a routerLink="/user/welcome" class="px-3 nav-link"><strong class="text-dark">Home</strong></a></li>
        <li class="nav-item"><a routerLink="/user/getallcompanies" class="px-3 nav-link"><strong class="text-dark">Companies</strong></a></li>
        <li class="nav-item"><a routerLink="/user/getStockDetails" class="px-3 nav-link"><strong class="text-dark">Stock</strong></a></li>
      </ul>
      <!-- Left links -->
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-link px-3 me-2 text-decoration-none btn btn-dark text-light"
          routerLink="/auth/login" (click)="logout()">logout</button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->